.container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrar contenido */
    justify-content: start;
  }
  
  img {
    max-width: 500px;  /* Máximo ancho de la imagen */
    max-height: 400px; /* Máximo alto de la imagen */
    width: auto;       /* Mantener escala */
    height: auto;      
    object-fit: contain; /* Asegurar que la imagen no se deforme */
    margin-bottom: 20px; /* Espaciado debajo de la imagen */
  }
  
  button {
    position: relative; /* Mantiene la posición */
  }
  