<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg w-50">
    <h3 class="text-center">Registro</h3>

    <form (ngSubmit)="register()">
      <!-- Nombre -->
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': firstnameError}" 
          [(ngModel)]="user.firstname" 
          name="firstname" 
          placeholder="Nombre" 
          required>
        <div *ngIf="firstnameError" class="text-danger">{{ firstnameError }}</div>
      </div>

      <!-- Apellido -->
      <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': lastnameError}" 
          [(ngModel)]="user.lastname" 
          name="lastname" 
          placeholder="Apellido" 
          required>
        <div *ngIf="lastnameError" class="text-danger">{{ lastnameError }}</div>
      </div>

      <!-- Correo -->
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input 
          type="email" 
          class="form-control" 
          [ngClass]="{'is-invalid': emailError}" 
          [(ngModel)]="user.email" 
          name="email" 
          placeholder="Correo electrónico" 
          required>
        <div *ngIf="emailError" class="text-danger">{{ emailError }}</div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input 
          type="password" 
          class="form-control" 
          [(ngModel)]="user.password" 
          name="password" 
          placeholder="Contraseña" 
          required>
          <div *ngIf="emailError" class="text-danger">{{ passwordError }}</div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Registrarse</button>
    </form>
  </div>
</div>
